/*
----------------------------------------------------------------------------------------------------

    CONTENT

----------------------------------------------------------------------------------------------------
    Application content container.
----------------------------------------------------------------------------------------------------
*/

#app-content {
    margin-top: $app-header-height;
    margin-left: $app-nav-width;
    padding: $line-height-computed;
}