// ------------------------------------------------------------------------------------------------
// 
//     NAVIGATION
// 
// ------------------------------------------------------------------------------------------------
//     Application navigation component.
// ------------------------------------------------------------------------------------------------
#app-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $app-nav-zindex;
    width: $app-nav-width;
    background: $app-nav-bg;

    &.upper .nav > li > a {
        text-transform: uppercase;
    }

    .logo {
        padding: 2em;
        text-align: center;
        background-color: darken($app-nav-bg,3);
        border-bottom: 1px solid lighten($app-nav-bg,3);
    }





    // -----------------------------------------------------------------------------
    // 
    //     NAVIGATION
    //   
    // -----------------------------------------------------------------------------
    .nav {

        // ---------------------------------------------------------
        //   Nav Element
        // ---------------------------------------------------------
        > li {

            // ---------------------------------------------------------
            //   Nav Links
            // ---------------------------------------------------------
            > a {
                color: $app-nav-link-color;
                font-family: Arial, sans-serif;
                font-size: .85em;

                &:hover,
                &:focus {
                    color: $app-nav-link-hover-color;
                    background-color: $app-nav-link-hover-bg;
                }
            }

            // ---------------------------------------------------------
            //   Disabled Nav Links
            // ---------------------------------------------------------
            &.disabled {
                > a {
                    color: $app-nav-link-disabled-color;
                    background-color: $app-nav-link-disabled-bg;

                    &:hover,
                    &:focus {
                        color: $app-nav-link-disabled-color;
                        background-color: $app-nav-link-disabled-bg;
                    }
                }
            }

            // ---------------------------------------------------------
            //   Nav Items (except first)
            // ---------------------------------------------------------
            + li {
                margin-top: 0;
            }
        }

        // ---------------------------------------------------------
        //   Dropdown Caret
        // ---------------------------------------------------------
        .caret {
            position: absolute;
            top: 1.5em;
            right: 1.5em; 
        }
        // ---------------------------------------------------------
        //   Glyph Icons
        // ---------------------------------------------------------
        .glyphicon {
            color: lighten($app-nav-bg,70);
            margin-right: 1em;
            font-size: 1.25em;
            top: 4px;
        }
    }

    // -----------------------------------------------------------------------------
    //   SUBNAVIGATION
    // -----------------------------------------------------------------------------
    .nav .nav {

        // ---------------------------------------------------------
        //   Subnav Element
        // ---------------------------------------------------------
        > li {

            // ---------------------------------------------------------
            //   Subnav Links
            // ---------------------------------------------------------
            > a {

            }

            // ---------------------------------------------------------
            //   Disabled Subnav Links
            // ---------------------------------------------------------
            &.disabled {
                > a {

                }
            }
        }
    }
}